@font-face {
  font-family: galaxy;
  src: url(../assets/fonts/sfdistantgalaxy-webfont.woff);
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  display: none;
}

.meesh-logo {
  will-change: filter;
  transition: filter 300ms;
}

.meesh-logo:hover {
  filter: drop-shadow(0 0 2em #eee1f2);
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 80px;
}

.socials-container,
.main-nav ul {
  list-style: none;
  padding: 0;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.social-icon:hover {
  background-color: #eee1f2;
}

.social-image {
  width: 50%;
  height: 50%;
}

:root {
  margin: 0;
  text-align: center;
  font-family: "galaxy", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;
  background: linear-gradient(1deg, #190c27, #9406a0, #190c27, #9406a0) 0% 0%/400% 400%;
  animation: 20s ease-in-out 0s infinite normal none running CustomAnimation;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
@keyframes CustomAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
  max-width: 780px;
}

.vite-logo:hover {
  filter: drop-shadow(0 0 2em rgba(189, 52, 254, 0.6666666667));
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6666666667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.purple-keyboard {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.purple-keyboard-container {
  max-height: 500px;
}

.purple-sky {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.purple-sky-container {
  max-height: 500px;
}

h1 {
  max-width: 780px;
}

a {
  color: #eee1f2;
  text-decoration: none;
}

a:hover {
  filter: drop-shadow(0 0 2em #eee1f2);
  color: #e80be8;
}

p {
  letter-spacing: 0;
}

.hamburger-container {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.151);
  cursor: pointer;
}

.hamburger-menu {
  position: absolute;
  top: 1.9rem;
  right: 0.5rem;
  width: 3rem;
  height: 0.2rem;
  background-color: white;
}

.hamburger-menu::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: white;
  cursor: pointer;
  top: 1rem;
  right: 0;
  transition: 0.5s;
}

.hamburger-menu::before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: white;
  cursor: pointer;
  top: -1rem;
  right: 0;
  transition: 0.5s;
}

.hamburger-container {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1529411765);
  cursor: pointer;
}

.hamburger-background {
  background-color: rgba(255, 255, 255, 0.431372549);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hamburger-active .hamburger-menu::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger-active .hamburger-menu::after {
  transform: rotate(-45deg);
  top: 0;
}

.hamburger-active .hamburger-menu {
  background-color: rgba(0, 0, 0, 0);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 9999rem;
}

.menu-active {
  top: calc(50vh - 12.5rem);
  left: calc(50vw - 12.5rem);
}

.menu ul {
  list-style: none;
  padding: 5rem;
  background-color: #000;
  border-radius: 10%;
}

.menu li {
  margin: 1rem 0;
  text-align: center;
}

.menu a {
  font-size: 3rem;
  -webkit-text-decoration: underline rgba(241, 241, 241, 0);
  text-decoration: underline rgba(241, 241, 241, 0);
  color: #f1f1f1;
  transition: -webkit-text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  white-space: nowrap;
}

.menu a:hover,
.menu a:focus {
  -webkit-text-decoration: underline #f1f1f1;
  text-decoration: underline #f1f1f1;
  color: #f1f1f1;
}

.menu a:active {
  -webkit-text-decoration: underline #f1f1f1;
  text-decoration: underline #f1f1f1;
  color: #ab1b1b;
}/*# sourceMappingURL=style.css.map */