@use "partials/font";
@use "partials/setup";
@use "partials/nav";
@use "partials/main";
@use "partials/footer";
@use "partials/images";

h1 {
	max-width: 780px;
}
a {
	color: #eee1f2;
	text-decoration: none;
}
a:hover {
	filter: drop-shadow(0 0 2em #eee1f2);
	color: #e80be8;
}
p {
	letter-spacing: 0;
}
