.vite-logo:hover {
	filter: drop-shadow(0 0 2em #bd34feaa);
}
.logo:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media (prefers-reduced-motion: no-preference) {
	a .logo {
		animation: logo-spin infinite 20s linear;
	}
}
