.purple-keyboard {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.purple-keyboard-container {
	max-height: 500px;
}
.purple-sky {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.purple-sky-container {
	max-height: 500px;
}
