:root {
	margin: 0;
	text-align: center;
	font-family: "galaxy", Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	color-scheme: light dark;
	color: #ffffff;
	background-color: #242424;
	background: linear-gradient(1deg, #190c27, #9406a0, #190c27, #9406a0) 0% 0% / 400% 400%;
	animation: 20s ease-in-out 0s infinite normal none running CustomAnimation;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	@keyframes CustomAnimation {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 51% 100%;
		}
		100% {
			background-position: 0% 0%;
		}
	}
	overflow-x: hidden;
}
.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card {
	padding: 2em;
	max-width: 780px;
}
